
body#movie_gallery_body{
	background-color:rgba(0,0,0,0.6);
}




/*DataTable*/

div#movie_list_table_wrapper{
	margin-left:auto;
	margin-right:auto;
	max-width:1400px;
}
div.dataTables_length{
	float:left;
	padding:1em;
}

div.dataTables_filter{
	float:right;
	padding:1em;
}

div.dataTables_filter > label > input{
	width: 400px;
	font-size: 1.4em;
}

div.dataTables_paginate{
	float:right;
}

div.dataTables_paginate > a.paginate_button,
div.dataTables_paginate > span > a.paginate_button{
	border:solid 2px rgb(0,0,120);
	padding:1em;
	background-color:rgb(0,0,220);
	color:white;
	cursor:pointer;
}

.paginate_button.previous{
	border-top-left-radius:1em;
	border-bottom-left-radius:1em;
}
.paginate_button.next{
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
}
div.dataTables_paginate > span > a.paginate_button.current{
	opacity:0.4;
	background-color:white;
	color:blue;
	cursor:default;
} 
div.dataTables_paginate > a.paginate_button.disabled{
	/*background-color:grey;*/
	opacity:0.4;
	cursor:default;
}


/* Movie Table*/

#movie_list_table{
	border:dashed black 4px;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	width:1400px;
	border-collapse: collapse;
	background-color:rgba(255,255,255,0.8);
	clear: both;
}

#movie_list_table > tbody > tr > td {
	border-bottom:solid 1px black;
	border-right: dotted 1px grey;
	padding-left: 1em;
	padding-right: 1em;
	padding-top:1em;
	padding-bottom:1em;
}

#movie_list_table > tbody > tr > td > div.scroll {
	max-height:200px;
	overflow-y: auto;

}













/*Movie Table content*/

div.movie_file,
div.movie_file.ui.button{
	clear:both;
	float:left;
	margin-bottom:0.2em;
	margin-top:0.2em;
}

/*div.movie_file.playable:hover{
	color:blue;
	cursor:pointer;
}

div.movie_file.unplayable:hover{
	color:purple;
	cursor:pointer;
}*/





/* Movie Player*/
div#movie_player_outer_container{
	text-align:center;
}

div#movie_player_outer_container{
	max-width:100%;
	width:1200px;
	border-left:solid 4em black;
	border-right:solid 4em black;
	border-top:solid 2em black;
	border-bottom:solid 2em black;
	margin-top:1em;
	margin-left:auto;
	margin-right:auto;
}

video#video_player{
	width:100%;
}













/*logo*/

#main_nebula_gnome_logo{
	position:fixed;
	width:120px;
}

@media (max-width: 1800px){
	#main_nebula_gnome_logo{
		position:relative;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
}