
#VideoKiosk_Main{
	width:100vw-20px;
	min-height:100vh-20px;
}


#videoandtexttable{
	width:100%;
}

tr.videoandtext td.text{
	width:25%;
	border:1px solid blue;
	padding:10px;
	text-align:center;
}

tr.videoandtext td.videoplayer{
	width:50%;
	border:1px solid orange;
	padding:10px;
	text-align:center;
}

#videocontroltable12{
	margin-top:60px;
	width:100%;
}

#videocontroltable12 tr td{
	width:16%;
	height:140px;
	padding:10px;
	border: solid pink 2px;
	text-align:center;
}

#videocontroltable12 tr td img{
	width:120px;
	height:auto;
	cursor:pointer;
}


.movie_file{
	cursor:pointer;
}
.movie_file:hover{
	color:purple;
}